<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title layout:fragment="title">Spotick | 관리자</title>
    <link rel="stylesheet" th:href="@{/dist/css/admin/layout.min.css}">
</head>
<body>
<div layout:fragment="content" class="admin-wrapper">
    <div class="admin-container">
        <aside class="admin-sidebar">
            <nav class="admin-menu">
                <a th:href="@{/admin/user}" class="admin-menu__item"
                   th:classappend="${currentAdminPage == 'user'} ? 'active' : ''">회원 관리</a>
                <a th:href="@{/admin/place}" class="admin-menu__item"
                   th:classappend="${currentAdminPage == 'place'} ? 'active' : ''">장소 관리</a>
                <a th:href="@{/admin/ticket}" class="admin-menu__item"
                   th:classappend="${currentAdminPage == 'ticket'} ? 'active' : ''">티켓 관리</a>
                <a th:href="@{/admin/pay}" class="admin-menu__item"
                   th:classappend="${currentAdminPage == 'pay'} ? 'active' : ''">결제 관리</a>
                <a th:href="@{/admin/approval}" class="admin-menu__item"
                   th:classappend="${currentAdminPage == 'approval'} ? 'active' : ''">관리자 승인</a>
            </nav>
        </aside>

        <main class="admin-content">
            <th:block layout:fragment="admin-content"></th:block>
        </main>
    </div>
</div>

<th:block layout:fragment="script">
    <th:block layout:fragment="admin-script"></th:block>
</th:block>
</body>
</html>