<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{mypage/layout}">
<head>
    <title layout:fragment="title">Spotick | 북마크</title>
    <link rel="stylesheet" th:href="@{/dist/css/place/place-card.min.css}">
    <link rel="stylesheet" th:href="@{/dist/css/mypage/bookmarks.min.css}">
</head>

<div layout:fragment="mypage-content">
    <header class="bookmark-header">
        <h2 class="bookmark-title">북마크</h2>
        <div class="place-sort" id="sortTypeBox">
            <button class="place-sort__btn" type="button">
                <span class="place-sort__text" th:text="${sort != null ? sort.displayName : '인기순'}">인기순</span>
                <img alt="정렬" class="place-sort__icon" th:src="@{/imgs/arrow_down_gray014.f502da9d.svg}">
            </button>
            <div class="place-sort__list">
                <button class="place-sort__item"
                        th:each="sortTypeItem : ${T(com.app.spotick.global.util.type.PlaceSortType).values()}"
                        th:data-sort="${sortTypeItem.name()}"
                        th:text="${sortTypeItem.displayName}"
                        th:classappend="${sort != null and sortTypeItem.name() == sort.name()} ? 'place-sort__item--active' : ''"
                        type="button"></button>
            </div>
        </div>
    </header>

    <div class="bookmark-grid" id="bookmarkGrid">
        <th:block th:if="${placeDtoList.getTotalElements() > 0}">
            <article class="place-card" th:each="place : ${placeDtoList}">
                <div class="place-card__slider-wrap">
                    <button type="button" class="place-card__bookmark"
                            th:data-id="${place.id}"
                            th:data-checked="${place.isBookmarkChecked}">
                        <i th:class="${place.isBookmarkChecked ? 'fa-solid fa-bookmark place-card__bookmark--active' : 'fa-regular fa-bookmark'}"></i>
                    </button>
                    <div class="place-card__slider">
                        <div class="place-card__slide" th:each="file : ${place.placeFiles}">
                            <img class="place-card__img"
                                 th:src="@{/file/display(fileName=${file.uploadPath + '/t_' + file.uuid + '_' + file.fileName})}"
                                 th:alt="${place.title}">
                        </div>
                    </div>
                    <button class="place-card__nav place-card__nav--prev"><i class="fa-solid fa-chevron-left"></i>
                    </button>
                    <button class="place-card__nav place-card__nav--next"><i class="fa-solid fa-chevron-right"></i>
                    </button>
                    <div class="place-card__pagination">
                        <span class="curr-idx">1</span> / <span th:text="${#lists.size(place.placeFiles)}">1</span>
                    </div>
                </div>
                <div class="place-card__info" th:onclick="|location.href='/place/${place.id}'|">
                    <div class="place-card__meta">
                        <span th:text="${place.placeAddress.address}">주소</span>
                        <div class="place-card__stats">
                            <span class="place-card__stat"><i class="fa-solid fa-star place-card__stat-icon"></i>
                                <th:block th:text="${place.evalAvg}"></th:block> (<th:block
                                        th:text="${place.evalCount}"></th:block>)
                            </span>
                            <span class="place-card__stat"><i class="fa-solid fa-bookmark" style="color: #8a8a8e;"></i> <th:block
                                    th:text="${place.bookmarkCount}"></th:block></span>
                        </div>
                    </div>
                    <h3 class="place-card__title" th:text="${place.title}">장소명</h3>
                    <div class="place-card__price">
                        <th:block th:text="${#numbers.formatInteger(place.price, 1, 'COMMA')}"></th:block>
                        원
                        <span style="font-size: 12px; font-weight: 500; color: #8a8a8e;">/ 시간</span>
                    </div>
                </div>
            </article>
        </th:block>
        <th:block th:if="${placeDtoList.getTotalElements() == 0}">
            <div class="bookmark-empty">
                <i class="fa-regular fa-bookmark" style="font-size: 48px;"></i>
                <p>저장된 북마크가 없습니다.</p>
            </div>
        </th:block>
    </div>

    <section class="pagination-container" th:if="${placeDtoList.getTotalElements() > 0}">
        <th:block th:if="${pagination.hasPrevBlock()}">
            <a class="pagination-btns" th:href="@{/mypage/bookmarks(page=1, sort=${sort})}" title="맨 처음">
                <i class="fa-solid fa-angles-left"></i>
            </a>
            <a class="pagination-btns" th:href="@{/mypage/bookmarks(page=${pagination.startPage - 1}, sort=${sort})}"
               title="이전">
                <i class="fa-solid fa-angle-left"></i>
            </a>
        </th:block>

        <th:block th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage)}">
            <a class="pagination-btns"
               th:classappend="${i == pagination.currentPage ? 'active' : ''}"
               th:href="@{/mypage/bookmarks(page=${i}, sort=${sort})}"
               th:text="${i}"></a>
        </th:block>

        <th:block th:if="${pagination.hasNextBlock()}">
            <a class="pagination-btns" th:href="@{/mypage/bookmarks(page=${pagination.endPage + 1}, sort=${sort})}"
               title="다음">
                <i class="fa-solid fa-angle-right"></i>
            </a>
            <a class="pagination-btns" th:href="@{/mypage/bookmarks(page=${pagination.lastPage}, sort=${sort})}"
               title="맨 끝">
                <i class="fa-solid fa-angles-right"></i>
            </a>
        </th:block>
    </section>
</div>

<th:block layout:fragment="mypage-script">
    <input type="hidden" id="currentPage" th:value="${pagination.currentPage}">
    <script th:src="@{/dist/js/mypage/bookmarks.min.js}" type="module"></script>
</th:block>
</html>