<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{mypage/layout}"
      th:with="currentPage='inquiries'">
<head>
    <title layout:fragment="title">Spotick | 문의내역</title>
    <link rel="stylesheet" th:href="@{/dist/css/mypage/inquiries.min.css}">
</head>
<body>

<div layout:fragment="mypage-content">
    <div class="inq-header">
        <h2 class="inq-header__title">문의 내역</h2>
    </div>

    <nav class="inq-tab">
        <button class="inq-tab__btn active" id="placeTab" type="button">장소 문의</button>
        <button class="inq-tab__btn" id="ticketTab" type="button">티켓 문의</button>
    </nav>

    <div class="inq-list" id="inquiryContainer">
        <div class="inq-empty">확인하고 싶은 내역을 상단 바에서 클릭해주세요.</div>
    </div>

    <div class="loading-wrap" id="loadingMark">
        <img alt="로딩" src="/imgs/loading.svg">
    </div>

    <section class="pagination-container" id="paginationContainer"></section>

    <div class="inq-modal-overlay" id="inqDetailModal">
        <div class="inq-modal">
            <button class="inq-modal__close" id="inqModalClose" type="button"><i class="fa-solid fa-xmark"></i></button>
            <h3 class="inq-modal__title">문의 상세 정보</h3>
            <div class="inq-modal__content" id="inqModalContent">
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="mypage-script">
    <script type="module" th:src="@{/dist/js/mypage/inquiries.min.js}"></script>
</th:block>

</body>
</html>