<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{mypage/layout}"
      th:with="currentPage='reservations'">

<head>
    <title layout:fragment="title">Spotick | 예약내역</title>
    <link rel="stylesheet" th:href="@{/dist/css/mypage/reservations.min.css}">
</head>

<body>
<div layout:fragment="mypage-content">
    <div class="res-header">
        <h2 class="res-header__title">예약내역</h2>
        <div class="res-sort">
            <button class="res-sort__btn" type="button" id="sortBtn">
                <span id="currentSortText">예약 시간순</span>
                <i class="fa-solid fa-chevron-down"></i>
            </button>
            <div class="res-sort__list" id="sortList">
                <button th:each="sortType : ${T(com.app.spotick.global.util.type.PlaceReservationSortType).values()}"
                        th:data-sort="${sortType.name()}"
                        th:data-name="${sortType.displayName}"
                        th:text="${sortType.displayName}"
                        th:class="${sortType.name() == 'UPCOMING' ? 'selected' : ''}"
                        type="button">
                </button>
            </div>
        </div>
    </div>

    <div class="res-list" id="contentsContainer">
    </div>

    <div class="loading-wrap" id="loadingMark" style="display: none; text-align: center;">
        <img alt="로딩" src="/imgs/loading.svg">
    </div>

    <section id="paginationContainer"></section>

    <div class="res-modal-overlay" id="resDetailModal">
        <div class="res-modal">
            <button class="res-modal__close" id="resModalClose"><i class="fa-solid fa-xmark"></i></button>
            <h3 class="res-modal__title">예약 상세 정보</h3>
            <div class="res-modal__content" id="resModalContent">
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="mypage-script">
    <script type="module" th:src="@{/dist/js/mypage/reservations.min.js}"></script>
</th:block>
</body>
</html>