<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{mypage/layout}">
<head>
    <title layout:fragment="title">Spotick | 개인정보 수정</title>
    <link rel="stylesheet" th:href="@{/dist/css/mypage/user-info.min.css}"/>
</head>
<body>

<th:block layout:fragment="mypage-content">

    <div class="user-modal-overlay" id="userModalOverlay"></div>

    <div class="user-modal" id="profileModal">
        <div class="user-modal__header">
            <h3 class="user-modal__title">프로필 사진 변경</h3>
            <p class="user-modal__subtitle">기본 이미지 또는 새로운 사진을 업로드하세요.</p>
        </div>
        <div class="user-modal__body">
            <div class="user-modal__img-grid">
                <img class="user-modal__def-img def-pro" data-img="1.jpg" src="/imgs/default/1.jpg" alt="기본이미지">
                <img class="user-modal__def-img def-pro" data-img="2.jpg" src="/imgs/default/2.jpg" alt="기본이미지">
                <img class="user-modal__def-img def-pro" data-img="3.jpg" src="/imgs/default/3.jpg" alt="기본이미지">
                <img class="user-modal__def-img def-pro" data-img="4.jpg" src="/imgs/default/4.jpg" alt="기본이미지">
                <img class="user-modal__def-img def-pro" data-img="5.jpg" src="/imgs/default/5.jpg" alt="기본이미지">
                <img class="user-modal__def-img def-pro" data-img="6.jpg" src="/imgs/default/6.jpg" alt="기본이미지">
                <img class="user-modal__def-img def-pro" data-img="7.jpg" src="/imgs/default/7.jpg" alt="기본이미지">
                <img class="user-modal__def-img def-pro" data-img="8.jpg" src="/imgs/default/8.jpg" alt="기본이미지">
                <img class="user-modal__def-img def-pro" data-img="9.jpg" src="/imgs/default/9.jpg" alt="기본이미지">
                <img class="user-modal__def-img def-pro" data-img="10.jpg" src="/imgs/default/10.jpg" alt="기본이미지">
                <img class="user-modal__def-img def-pro" data-img="11.jpg" src="/imgs/default/11.jpg" alt="기본이미지">
                <label for="imageUploadInput" class="user-modal__upload-btn">
                    <i class="fa-solid fa-plus"></i>
                    <input accept="image/jpg,image/png,image/jpeg,image/gif" hidden id="imageUploadInput" type="file">
                </label>
            </div>
        </div>
    </div>

    <div class="user-modal" id="nicknameModal">
        <div class="user-modal__header">
            <h3 class="user-modal__title">새 닉네임</h3>
        </div>
        <div class="user-modal__body">
            <div class="user-info__input-wrapper">
                <input id="newNicknameInput" class="user-info__input" maxlength="10" placeholder="새 닉네임을 입력해주세요."
                       type="text">
            </div>
            <button class="user-info__btn user-info__btn--full" id="nicknameChangeBtn" disabled>닉네임 저장</button>
        </div>
    </div>

    <div class="user-modal" id="telModal">
        <div class="user-modal__header">
            <h3 class="user-modal__title">새 전화번호</h3>
        </div>
        <div class="user-modal__body">
            <div class="user-info__input-wrapper" id="newPhoneNumCon">
                <input id="newTelInput" class="user-info__input" maxlength="11" placeholder="'-' 제외 입력" type="text">
                <button class="user-info__btn user-info__btn--inside" id="requestAuthCodeBtn" disabled>인증번호 받기</button>
            </div>

            <div class="user-info__input-wrapper user-info__input-wrapper--hidden" id="authNumInputCon"
                 style="margin-top: 12px;">
                <input id="authNumInput" class="user-info__input" maxlength="6" placeholder="인증번호 6자리" type="text">
                <span class="user-info__timer" id="timerText"></span>
            </div>
            <button class="user-info__btn user-info__btn--full" id="authConfirmBtn" disabled style="margin-top: 24px;">
                인증 완료
            </button>
        </div>
    </div>

    <section class="user-info">
        <div class="user-info__header">
            <h2 class="user-info__title">개인정보 수정</h2>
        </div>

        <div class="user-info__profile-section" th:object="${userProfile}">
            <div class="user-info__profile-img-wrap" id="userImageBtn">
                <img class="user-info__profile-img" id="userProfileImage"
                     th:alt="*{nickName}"
                     th:src="${userProfile.isDefaultImage ? '/file/default/display?fileName=' + userProfile.fileName : '/file/display?fileName=' + userProfile.uploadPath + '/t_' + userProfile.uuid + '_' + userProfile.fileName}">
                <div class="user-info__edit-icon"><i class="fa-solid fa-pen"></i></div>
            </div>

            <div class="user-info__nickname-wrap" id="userNicknameBtn">
                <span class="user-info__nickname"><b id="curNickname" th:text="*{nickName}"></b>님</span>
                <div class="user-info__edit-icon"><i class="fa-solid fa-pen"></i></div>
            </div>
        </div>

        <div class="user-info__form-section" th:object="${userProfile}">
            <div class="user-info__field">
                <span class="user-info__label">가입된 이메일</span>
                <div class="user-info__input-wrapper user-info__input-wrapper--readonly">
                    <input class="user-info__input" readonly th:value="${maskedEmail}">
                </div>
            </div>

            <div class="user-info__field">
                <span class="user-info__label">휴대 전화</span>
                <div class="user-info__input-wrapper user-info__input-wrapper--readonly">
                    <input class="user-info__input" id="curTel" readonly th:value="*{tel}">
                    <button class="user-info__btn user-info__btn--inside" id="telButton">변경</button>
                </div>
            </div>

            <div class="user-info__field">
                <span class="user-info__label">새 비밀번호</span>
                <div class="user-info__input-wrapper">
                    <input id="newPw" class="user-info__input" type="password" placeholder="영문, 숫자, 특수문자 조합 6~15자리">
                </div>
            </div>

            <div class="user-info__field">
                <span class="user-info__label">새 비밀번호 확인</span>
                <div class="user-info__input-wrapper">
                    <input id="newPwCheck" class="user-info__input" type="password" placeholder="비밀번호 확인">
                    <button class="user-info__btn user-info__btn--inside" id="pwChangeConfirm">변경</button>
                </div>
            </div>
        </div>
    </section>
</th:block>

<th:block layout:fragment="mypage-script">
    <script type="module" th:src="@{/dist/js/mypage/user-info.min.js}"></script>
</th:block>
</body>
</html>