<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{mypage/layout}"
      th:with="currentPage='places'">
<head>
    <title layout:fragment="title">Spotick | 장소 문의 관리</title>
    <link rel="stylesheet" th:href="@{/dist/css/mypage/pl-inquiries.min.css}">
</head>
<body>
<div layout:fragment="mypage-content">
    <input type="hidden" id="placeId" th:value="${placeDto.id}">

    <div class="pl-inq">
        <div class="pl-inq__header">
            <h2 class="pl-inq__title">장소 문의 관리</h2>
        </div>

        <div class="pl-inq__place-info" th:object="${placeDto}">
            <h3 class="pl-inq__place-title" th:text="*{title}">장소 이름</h3>
        </div>

        <div class="pl-inq__list" id="inquiryList">
        </div>

        <div class="pl-inq__more-box">
            <button type="button" class="pl-inq__more-btn" id="loadMoreBtn" style="display: none;">더보기</button>
        </div>
    </div>

    <div class="pl-modal-overlay" id="replyModal">
        <div class="pl-modal">
            <button class="pl-modal__close" id="modalCloseBtn"><i class="fa-solid fa-xmark"></i></button>
            <h3 class="pl-modal__title">문의 답변 작성</h3>
            <div class="pl-modal__content">
                <textarea class="pl-modal__textarea" id="replyContent" placeholder="상세하고 명확한 답변을 입력하세요."></textarea>
            </div>
            <div class="pl-modal__footer">
                <button type="button" class="pl-modal__btn pl-modal__btn--primary" id="replySubmitBtn">답변 등록</button>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="mypage-script">
    <script type="module" th:src="@{/dist/js/mypage/pl-inquiries.min.js}"></script>
</th:block>
</body>
</html>