<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{mypage/layout}"
      th:with="currentPage='places'">
<head>
    <title layout:fragment="title">Spotick | 장소 예약 관리</title>
    <th:block layout:fragment="mypage-css">
        <link rel="stylesheet" th:href="@{/dist/css/mypage/pl-reservations.min.css}">
    </th:block>
</head>
<body>
<div layout:fragment="mypage-content">
    <input type="hidden" id="placeId" th:value="${placeDto.id}">

    <div class="pl-res">
        <div class="pl-res__header">
            <h2 class="pl-res__title">장소 예약 관리</h2>
        </div>

        <div class="pl-res__place-info" th:object="${placeDto}">
            <h3 class="pl-res__place-title" th:text="*{title}">장소 이름</h3>
        </div>

        <div class="pl-res__list" id="reservationList">
        </div>

        <div class="pl-res__more-box">
            <button type="button" class="pl-res__more-btn" id="loadMoreBtn" style="display: none;">더보기</button>
        </div>
    </div>
</div>

<th:block layout:fragment="mypage-script">
    <script type="module" th:src="@{/dist/js/mypage/pl-reservations.min.js}"></script>
</th:block>
</body>
</html>