<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title layout:fragment="title">Spotick | 아이디/비밀번호 찾기</title>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/dist/css/user/find.min.css}"/>
    </th:block>
</head>
<body>
<main layout:fragment="content" class="find-page">
    <div class="find-page__container">
        <div class="find-card">
            <div class="find-card__header">
                <h1 class="find-card__title">아이디/비밀번호 찾기</h1>
            </div>

            <div class="find-card__tabs">
                <button type="button" class="find-card__tab find-card__tab--active" data-target="id">아이디 찾기</button>
                <button type="button" class="find-card__tab" data-target="password">비밀번호 찾기</button>
            </div>

            <div class="find-card__body" id="find-body">
                <section class="find-section find-section--id find-section--active">
                    <p class="find-section__guide">회원가입 시 등록하신<br>닉네임과 휴대폰 번호를 입력해주세요</p>

                    <div class="find-card__field">
                        <div class="find-card__input-wrapper">
                            <input id="nickname" type="text" class="find-card__input" placeholder="닉네임">
                        </div>
                        <p class="find-card__error-msg" id="nickname-error"></p>
                    </div>

                    <div class="find-card__field">
                        <div class="find-card__input-wrapper">
                            <input id="tel" type="text" class="find-card__input" placeholder="휴대전화 (- 제외)">
                        </div>
                        <p class="find-card__error-msg" id="tel-error"></p>
                    </div>

                    <div class="find-card__field">
                        <div class="find-card__input-wrapper find-card__input-wrapper--with-btn">
                            <input id="certNumber" type="text" class="find-card__input" placeholder="인증번호" readonly>
                            <button type="button" class="find-card__cert-btn" id="id-cert-btn" disabled>인증번호</button>
                        </div>
                        <p class="find-card__error-msg" id="id-cert-msg"></p>
                    </div>

                    <button type="button" class="find-card__submit-btn" id="find-id-btn" disabled>아이디 찾기</button>
                </section>

                <section class="find-section find-section--password">
                    <p class="find-section__guide">회원정보에 등록한 이메일(아이디)을 입력해주세요</p>

                    <div class="find-card__field">
                        <div class="find-card__input-wrapper">
                            <input id="email" type="text" class="find-card__input" placeholder="이메일">
                        </div>
                        <p class="find-card__error-msg" id="email-error"></p>
                    </div>

                    <div class="find-card__field">
                        <div class="find-card__input-wrapper find-card__input-wrapper--with-btn">
                            <input id="passwordCertNumber" type="text" class="find-card__input" placeholder="인증번호"
                                   readonly>
                            <button type="button" class="find-card__cert-btn" id="pw-cert-btn" disabled>인증번호</button>
                        </div>
                        <p class="find-card__error-msg" id="pw-cert-msg"></p>
                    </div>

                    <button type="button" class="find-card__submit-btn" id="find-pw-btn" disabled>비밀번호 찾기</button>
                </section>
            </div>
        </div>
    </div>
</main>
<th:block layout:fragment="script">
    <script type="module" th:src="@{/dist/js/user/find.min.js}"></script>
</th:block>
</body>
</html>