<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title layout:fragment="title">스포틱 | 회원가입</title>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/dist/css/user/join.min.css}"/>
    </th:block>
</head>
<body>

<main layout:fragment="content" class="join-page">
    <div class="join-page__container">
        <form th:action="@{/user/join}" method="post" class="join-form">
            <div class="join-form__header">
                <h1 class="join-form__title">회원가입</h1>
                <p class="join-form__subtitle">스포틱의 회원이 되어 다양한 서비스를 이용해보세요.</p>
            </div>

            <div class="join-form__body">
                <div class="join-form__field">
                    <div class="join-form__label-group">
                        <label class="join-form__label" for="email">이메일</label>
                        <p class="join-form__error-msg" id="emailError"></p>
                    </div>
                    <div class="join-form__input-wrapper">
                        <input id="email" type="email" name="email" class="join-form__input" placeholder="example@spotick.com" required>
                    </div>
                </div>

                <div class="join-form__field">
                    <div class="join-form__label-group">
                        <label class="join-form__label" for="password">비밀번호</label>
                        <p class="join-form__error-msg" id="passwordError"></p>
                    </div>
                    <div class="join-form__input-wrapper">
                        <input id="password" type="password" name="password" class="join-form__input" placeholder="영문, 숫자, 특수문자 조합 8~20자" required>
                    </div>
                </div>

                <div class="join-form__field">
                    <div class="join-form__label-group">
                        <label class="join-form__label" for="nick-name">닉네임</label>
                        <p class="join-form__error-msg" id="nickNameError"></p>
                    </div>
                    <div class="join-form__input-wrapper">
                        <input id="nick-name" name="nickName" type="text" class="join-form__input" placeholder="멋진 닉네임을 입력해주세요" required>
                    </div>
                </div>

                <div class="join-form__field">
                    <div class="join-form__label-group">
                        <label class="join-form__label" for="tel">전화번호</label>
                        <p class="join-form__error-msg" id="telError"></p>
                    </div>
                    <div class="join-form__input-wrapper">
                        <input id="tel" name="tel" type="text" class="join-form__input" placeholder="010-0000-0000" required>
                    </div>
                </div>

                <div class="join-form__agreement agreement">
                    <div class="agreement__header">
                        <div class="agreement__all-check">
                            <div class="agreement__checkbox"></div>
                            <span class="agreement__title">약관 전체 동의</span>
                        </div>
                    </div>
                    <div class="agreement__list">
                        <div class="agreement__item agreement__item--required">
                            <div class="agreement__checkbox"></div>
                            <p class="agreement__text">스포틱 서비스 이용약관 동의 (필수)</p>
                        </div>
                        <div class="agreement__item agreement__item--required">
                            <div class="agreement__checkbox"></div>
                            <p class="agreement__text">본인 확인 서비스 이용약관 동의 (필수)</p>
                        </div>
                        <div class="agreement__item">
                            <div class="agreement__checkbox"></div>
                            <p class="agreement__text">마케팅 정보 수신 동의 (선택)</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="join-form__footer">
                <button type="submit" class="join-form__submit-btn" disabled>가입 완료</button>
            </div>
        </form>
    </div>
</main>

<th:block layout:fragment="script">
    <script type="module" th:src="@{/dist/js/user/join.min.js}"></script>
</th:block>
</body>
</html>