<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title layout:fragment="title">Spotick | 로그인</title>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/dist/css/user/login.min.css}"/>
    </th:block>
</head>

<body>
<main layout:fragment="content">
    <section class="login-page">
        <div class="login-card">
            <form th:action="@{/user/login}" method="post" class="login-card__form">
                <div class="login-card__header">
                    <div class="login-card__logo">
                        <img th:src="@{/imgs/logo/spotick-logo.svg}" alt="Spotick 로고">
                    </div>
                    <p class="login-card__welcome">스포틱에 오신 것을 환영합니다.</p>
                </div>

                <div class="login-card__body">
                    <div class="login-card__input-group">
                        <div class="login-card__input-wrapper">
                            <input name="username" class="login-card__input" placeholder="이메일" type="text" required>
                        </div>
                        <div class="login-card__input-wrapper">
                            <input name="password" class="login-card__input" placeholder="비밀번호" type="password" required>
                        </div>
                    </div>

                    <div class="login-card__messages">
                        <p th:if="${param.error}" class="login-card__error-msg">아이디 또는 비밀번호가 일치하지 않습니다.</p>
                        <p th:if="${param.gm}" class="login-card__error-msg">로그인이 필요한 서비스입니다.</p>
                    </div>

                    <button class="login-card__submit-btn" type="submit">로그인</button>
                </div>

                <div class="login-card__social">
                    <a th:href="@{/oauth2/authorization/kakao}" class="login-card__social-btn login-card__social-btn--kakao">
                        <span class="login-card__social-icon"><img src="https://img.lifet.co.kr/icon/icon_kakao.svg" alt="Kakao"></span>
                        <span class="login-card__social-text">카카오 로그인</span>
                    </a>
                    <a th:href="@{/oauth2/authorization/naver}" class="login-card__social-btn login-card__social-btn--naver">
                        <span class="login-card__social-icon"><img src="https://img.lifet.co.kr/icon/icon_naver.svg" alt="Naver"></span>
                        <span class="login-card__social-text">네이버 로그인</span>
                    </a>
                    <a th:href="@{/oauth2/authorization/google}" class="login-card__social-btn login-card__social-btn--google">
                        <span class="login-card__social-icon"><img src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_%22G%22_logo.svg" alt="Google"></span>
                        <span class="login-card__social-text">Google 로그인</span>
                    </a>
                </div>

                <div class="login-card__divider">
                    <hr class="login-card__divider-line">
                    <span class="login-card__divider-text">또는</span>
                </div>

                <div class="login-card__footer">
                    <a th:href="@{/user/find}" class="login-card__link login-card__link--secondary">아이디/비밀번호 찾기</a>
                    <a th:href="@{/user/join}" class="login-card__link login-card__link--primary">이메일로 회원가입</a>
                </div>
            </form>
        </div>
    </section>
    <input type="hidden" class="msg" name="guideMsg" th:value="${guideMsg}">
</main>

<th:block layout:fragment="script">
    <script type="module" th:src="@{/dist/js/user/login.min.js}"></script>
</th:block>
</body>
</html>