<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">

    <title layout:fragment="title">Spotick</title>

    <link rel="icon" th:href="@{/imgs/logo/favicon.png}">
    <link rel="stylesheet" th:href="@{/css/global-css/root.css}">
    <link rel="stylesheet" th:href="@{/css/global-css/chat.css}">

    <th:block layout:fragment="css"></th:block>
</head>
<body>
<div class="layout-wrapper">
    <div th:replace="~{fragments/topScroll :: topScrollBtn}"></div>
    <div th:replace="~{fragments/chat :: chat}"></div>

    <header th:replace="~{fragments/header-footer :: header}"></header>

    <main class="layout-wrapper__main" layout:fragment="content"></main>

    <footer th:replace="~{fragments/header-footer :: footer}"></footer>
</div>

<script crossorigin="anonymous" src="https://kit.fontawesome.com/c6992f5b12.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script th:src="@{/js/global-js/global.js}" type="module"></script>
<script th:src="@{/js/global-js/chat.js}" type="module"></script>
<script th:src="@{/js/utils/topScrollBtn.js}"></script>

<th:block layout:fragment="script"></th:block>

<input id="isLoggedIn" th:value="${#authorization.expression('isAuthenticated()')}" type="hidden"/>
</body>
</html>