<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title layout:fragment="title">Spotick | 장소 대여</title>
    <link rel="stylesheet" th:href="@{/dist/css/place/list.min.css}">
    <link rel="stylesheet" th:href="@{/dist/css/global/district-filter.min.css}">
</head>

<div layout:fragment="content">
    <input type="hidden" id="isLoggedIn" th:value="${#authorization.expression('isAuthenticated()')}">

    <main class="place-list-page">
        <section class="place-toolbar">
            <div class="place-search">
                <i class="fa-solid fa-magnifying-glass place-search__icon"></i>
                <input id="searchInput" class="place-search__input" placeholder="검색어를 입력해주세요." type="text">
            </div>

            <div class="place-controls">
                <div class="place-sort" id="sortTypeBox">
                    <button class="place-sort__btn" type="button">
                        <span class="place-sort__text" id="sortTypeText">인기순</span>
                        <input id="sortInput" type="hidden" value="POPULARITY">
                        <img alt="정렬" class="place-sort__icon" th:src="@{/imgs/arrow_down_gray014.f502da9d.svg}">
                    </button>
                    <div class="place-sort__list">
                        <button class="place-sort__item place-sort__item--active" data-sort="POPULARITY" type="button">
                            인기순
                        </button>
                        <button class="place-sort__item" data-sort="NEWEST" type="button">최신순</button>
                        <button class="place-sort__item" data-sort="PRICE_HIGH" type="button">가격 높은순</button>
                        <button class="place-sort__item" data-sort="PRICE_LOW" type="button">가격 낮은순</button>
                    </div>
                </div>
                <button class="place-filter-btn" id="filterOpenBtn" type="button">
                    <img alt="필터" th:src="@{/imgs/filter_filled_rainyblue086.50bb2e40.svg}">
                </button>
            </div>
        </section>

        <div th:replace="~{fragments/district-filter :: filter-modal}"></div>

        <section class="place-grid" id="placeGrid"></section>

        <div class="place-loading" id="loadingSpinner">
            <img alt="로딩" src="/imgs/loading.svg">
        </div>

        <div id="scrollTarget" style="height: 10px; width: 100%;"></div>
    </main>
</div>

<th:block layout:fragment="script">
    <script th:src="@{/dist/js/place/list.min.js}" type="module"></script>
</th:block>
</html>